/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e9a6e0;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Estilos específicos para los productos */
.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product p {
    margin-bottom: 10px;
}

.product button {
    background-color: #d89cd5;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}